@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";
@import "/src/assets/styles/app.scss";

.coming-soon {
  width: rw(347);
  height: rh(156);

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: rw(119);
    height: rh(26);

    padding: 2px 14px;

    border: 1px solid $trophy-gold;
    border-radius: rh(14);

    white-space: nowrap;
  }

  &__btn-text {
    text-align: center;
    @include font-segment-regular();
    @include font-look(rh(14), 157.14%, 0.02em);

    color: $trophy-gold;
  }

  &__info {
    width: rw(337);
    height: rh(114);

    margin: rh(25) 0 0 rw(10);

    @include font-quincy-cf();
    @include font-look(rh(52), 109.5%);

    color: $text-light;
  }

  @include screen-tablet {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: rwl(259);
      height: rhl(126);
    }

    &__btn {
      margin: 0 0 rhl(12) 0;
      align-self: center;
    }

    &__info {
      margin: 0;
      text-align: center;
      @include font-look(rhl(40), 109.5%);
    }
  }
}
