@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";
@import "/src/assets/styles/app.scss";

.coming-soon {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: rw(119);
    height: rh(26);
  }

  &__btn-text {
    @include flex-center();
    text-align: center;
    @include font-segment-regular();
    @include font-look(rh(14), 157.14%, 0.02em);

    padding: rh(2) rw(14);

    color: $trophy-gold;
    border: 1px solid $trophy-gold;
    border-radius: rh(14);
    white-space: nowrap;
  }

  &__info {
    width: rw(337);

    margin: rh(25) 0 0 rw(10);

    @include font-quincy-cf();
    @include font-look(rh(52), 109.5%);

    color: $text-light;
  }

  @include screen-tablet {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: rwl(259);
      height: rhl(126);
    }

    &__btn {
      width: rwl(119);
      height: rhl(26);

      min-width: 119px;

      margin: 0 0 rhl(12) 0;
      align-self: center;
    }

    &__btn-text {
      padding: rhl(2) rwl(14);
      border-radius: rhl(14);
      @include font-look(rhl(14), 157.14%, 0.02em);
    }

    &__info {
      width: rwl(259);
      height: rhl(88);
      margin: 0;
      text-align: center;
      @include font-look(rhl(40), 109.5%);
    }
  }
}
