@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.shell {
  display: flex;
  position: relative;

  flex-direction: column;
  align-items: center;

  width: 100%;

  background-color: $hunter-green;

  &__bgr {
    $dispalce: 428px;
    z-index: 0;
    position: relative;
    width: 100%;
    height: 60.20vh;
    margin-top: calc(-#{$dispalce});

    @include background-image("../../assets/images/main-bg.svg");
    background-size: 1420px 823px;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__header {
    z-index: 1;
    width: 83.95%;
    margin: 77px auto 78px auto;
  }

  &__main {
    z-index: 1;
    width: 82%;
    height: 100%;
    max-width: 82%;
  }

  &__footer {
    z-index: 1;

    @include flex-center();

    width: 15.9%;
    margin: 78px auto 61px auto;
    margin-top: -30px;
  }

  @include screen-tablet {

    $displacement: 260px;

    &__main {
      @include flex-center();
      width: 91.24%;
      max-width: 91.24%;
    }

    &__header {
      margin: 71px auto 95px auto;
    }

    &__footer {
      margin: calc(330px - $displacement) auto 81.5px auto;
    }

    &__bgr {
      height: 30.56vh;
      margin-top: calc(-1 * #{$displacement});
    }

  }
}
