@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.shell {
  display: flex;
  position: relative;

  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: $hunter-green;

  &__bgr {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: rh(763);
    top: rh(409);

    @include background-image("../../assets/images/main-bg.svg");
    background-size: 100%;
    background-repeat: repeat-x;
  }

  &__header {
    z-index: 1;
    width: rw(1196);
    height: 100%;
    margin: rh(77) auto rh(78) auto;
  }

  &__main {
    z-index: 1;
    width: rw(1121);
    max-width: rw(1121);
    height: 100%;
  }

  &__footer {
    z-index: 1;

    @include flex-center();

    width: rw(229);
    height: 100%;
    margin: rh(330) auto rh(61) auto;
  }

  @include screen-tablet {

    &__main {
      @include flex-center();
      width: 91.24%;
      max-width: 91.24%;
    }

    &__header {
      margin: rhl(71) auto rhl(95) auto;
    }

    &__footer {
      margin: rhl(330) auto rhl(81.5) auto;
    }

    &__bgr {
      height: rhl(558.76);
      top: rhl(784);
      background-size: cover;
    }

  }
}
