@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

$browser_width: rw(614.57);
$browser_height: rh(397.94);

$panel_width: rw(384);
$panel_height: rh(600);

.wallet {
  display: grid;
  justify-items: end;

  &__browser {
    width: $browser_width;
    height: $browser_height;

    margin: rh(39) 0 0 0;

    z-index: 1;
    grid-row: 1;
    grid-column: 1;

    @include background-image("../../../assets/images/browser-illo.svg");
    background-size: contain;
    background-position: right;
  }

  &__panel {
    width: $panel_width;
    height: $panel_height;

    z-index: 2;
    grid-row: 1;
    grid-column: 1;

    @include background-image("../../../assets/images/wallet.svg");
    background-size: contain;
    background-position: right;
  }

  @include screen-tablet {
    & {
      width: rwl(363);
      height: rhl(428);
    }

    &__browser {
      width: 100%;
      height: rhl(285);

      margin: 1% 1% 0 0;

      background-position: center;
    }

    &__panel {
      height: rhl(428);
      width: rwl(278);

      background-position: center;
    }
  }
}