@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

$browser_width: 614.57px;
$browser_height: 397.94px;

$panel_width: 384px;
$panel_height: 600px;

.wallet {
  display: grid;
  justify-items: end;

  &__browser {
    width: $browser_width;
    height: $browser_height;

    margin: 39px 0 0 0;

    z-index: 1;
    grid-row: 1;
    grid-column: 1;

    @include background-image("../../../assets/images/browser-illo.svg");
    background-size: contain;
  }

  &__panel {
    width: $panel_width;
    height: $panel_height;

    z-index: 2;
    grid-row: 1;
    grid-column: 1;

    @include background-image("../../../assets/images/wallet.svg");
    background-size: contain;
  }

  @include screen-tablet {
    & {
      width: 363px;
      height: 428px;
    }

    &__browser {
      width: 100%;
      height: 285px;

      margin: 1% 1% 0 0;
    }

    &__panel {
      height: 428px;
      width: 278px;
    }
  }
}