@import '/src/assets/styles/mixins';
@import '/src/assets/styles/app.scss';
@import '/src/assets/styles/variables';

.header-section {
    @include flex-center();

    width: 100%;
    height: rh(80);

    &__logo {
        width: 18.84%;
        height: inherit;

        margin-right: auto;
        @include background-image('../../assets/images/header/tally-logo.svg');
    }

    &__links {
        @include flex-center();
        margin-left: auto;
    }

    &__link {
        margin-right: rw(35.5);

        &:last-child{
            margin-right: 0;
        }

        &_discord {
            @include hovered-icon(
                rh(28),
                rw(24.5),
                '../../assets/images/header/discord.svg',
                '../../assets/images/header/discord-hover.svg',
                '../../assets/images/header/discord-click.svg',
                '../../assets/images/arrow-hover.svg',
                '../../assets/images/arrow-click.svg'
            );
        }

        &_twitter {
            @include hovered-icon(
                rh(22.75),
                rw(28),
                '../../assets/images/header/twitter.svg',
                '../../assets/images/header/twitter-hover.svg',
                '../../assets/images/header/twitter-click.svg',
                '../../assets/images/arrow-hover.svg',
                '../../assets/images/arrow-click.svg'
            );
        }

        &_github {
            @include hovered-icon(
                rh(27.240432739257812),
                rw(28),
                '../../assets/images/header/github.svg',
                '../../assets/images/header/github-hover.svg',
                '../../assets/images/header/github-click.svg',
                '../../assets/images/arrow-hover.svg',
                '../../assets/images/arrow-click.svg'
            );
        }
    }

    .github-icon:hover, .github-icon:active {
        margin-right: -15px;
    }

    @include screen-tablet {

        & {
            height: rh(60)
        }

        &__logo {
            width: 45.06%;
            height: rh(60);
            margin: 0;
            margin-left: auto;
            margin-right: auto;
        }

        &__links {
            display: none;
        }
    }
}