@font-face {
  font-family: "QuincyCF-Regular";
  src: url("../src/fonts/quincy-cf/quincy-cf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuincyCF-Text";
  src: url("../src/fonts/quincy-cf-text/quincy-cf-text.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segment-Regular";
  src: url("../src/fonts/segment-regular/segment-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
