@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";
@import "../../assets/styles/app.scss";

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: rh(141);

  &__logo {
    width: rw(29.54);
    height: rh(24);

    margin: 0 0 rh(18) 0;

    @include background-image("../../assets/images/footer/star.svg");
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    width: rw(159);
    height: rh(25);

    margin: 0 0 rh(22) 0;

    text-align: center;
    white-space: nowrap;

    @include font-quincy-cf();
    @include font-look(rh(24), 102.5%, 0.2em);

    text-transform: capitalize;
    font-feature-settings: "cpsp" on;

    color: $trophy-gold;
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0 0 rh(22) 0;
  }

  &__link {
    display: flex;
    margin: 0 rw(30) 0 0;
    &:last-child {
      margin: 0;
    }

    text-align: center;
    @include font-quincy-cf();
    @include font-look(rh(18), 102.5%);
    color: $text-green-40;

    &:hover {
      color: $trophy-gold;
      cursor: pointer;
    }
    &:active {
      color: $text-light;
      cursor: pointer;
    }
  }

  &__sign {
    width: rw(126);
    height: rh(12);
    text-align: center;
    @include font-quincy-cf();
    @include font-look(rh(12), 102.5%);
    color: $text-green-60;
  }

  &__discord,
  &__twitter,
  &__github {
    display: none;
  }

  @include screen-tablet {
    & {
      width: rwl(186);
      height: rhl(353.5);
    }

    &__heading {
      width: rwl(186);
      height: rhl(33);
      margin: 0 0 rhl(55) 0;
      @include font-look(rhl(32), 103.125%, 0.1em);
    }

    &__links {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 rhl(59.26) 0;
    }

    &__link {
      align-items: center;
      justify-content: center;
      margin: 0 0 rhl(34.63) 0;

      &:last-child {
        margin: 0;
      }

      &_discord {
        &:hover {
          .discord-icon {
            @include background-image(
              "../../assets/images/header/discord-hover.svg"
            );
          }
        }
        &:active {
          .discord-icon {
            @include background-image(
              "../../assets/images/header/discord-click.svg"
            );
          }
        }
      }

      &_twitter {
        &:hover {
          .twitter-icon {
            @include background-image(
              "../../assets/images/header/twitter-hover.svg"
            );
          }
        }
        &:active {
          .twitter-icon {
            @include background-image(
              "../../assets/images/header/twitter-click.svg"
            );
          }
        }
      }

      &_github {
        &:hover {
          .github-icon {
            @include background-image(
              "../../assets/images/header/github-hover.svg"
            );
          }
        }
        &:active {
          .github-icon {
            @include background-image(
              "../../assets/images/header/github-click.svg"
            );
          }
        }
      }
    }

    &__discord,
    &__twitter,
    &__github {
      display: flex;
    }

    &__discord {
      margin-right: rwl(13.5);
    }

    &__twitter {
      margin-right: rwl(10);
    }

    &__github {
      margin-right: rwl(10);
    }

    &__sign {
      width: rwl(147);
      height: rhl(14);

      @include font-look(rhl(14), 100%);

      margin: 0 0 81.5px 0;
    }

    &__logo {
      width: rwl(29.54);
      height: rhl(24);
      margin: 0 0 rhl(21) 0;
    }
  }
}

.discord-icon {
  height: 28px;
  width: 24.5px;
  @include background-image("../../assets/images/header/discord.svg");
}

.twitter-icon {
  height: 22.75px;
  width: 28px;
  @include background-image("../../assets/images/header/twitter.svg");
}

.github-icon {
  height: 27.240432739257812px;
  width: 28px;
  @include background-image("../../assets/images/header/github.svg");
}
