@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";
@import "/src/assets/styles/app.scss";

$join-hunt: 'join-hunt';

.#{$join-hunt} {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: rw(403);
  height: rh(109);

  margin: 0 0 0 rw(10);

  &__text {
    width: rw(263);
    height: rh(44);

    @include font-segment-regular();
    @include font-look(rh(18), 122%);

    color: $trophy-gold;
  }

  &__email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__form {
    width: rw(234);
    height: rh(42);

    @include font-quincy-cf();
    @include font-look(rh(24), 102.5%);

    color: $text-light;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid $trophy-gold;

    &::placeholder {
      color: $text-green;
    }

    &:valid {
      border-color: $trophy-gold-40;
    }
  }

  &__btn {
    @include flex-center();

    width: rw(155);
    height: rh(42);
    min-width: 155px;

    margin: 0 0 0 rw(14);
    padding: rh(12) rw(28.5);
  }

  @include screen-tablet {
    & {
      width: rwl(263);
      height: rhl(148);

      margin: 0;

      align-items: center;
      justify-content: center;
    }

    &__text {
      width: auto;
      text-align: center;
      margin: 0 0 rhl(16) 0;
      @include font-look(rhl(18), 122%);
    }

    &__email {
      width: rwl(263);
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .#{$join-hunt}__btn {
        width: rwl(155);
        height: rhl(42);
        margin: rhl(12) 0 0 0;
      }

      .#{$join-hunt}__form {
        width: rwl(186);
        height: rhl(34);
        @include font-look(rhl(24), 102.5%);
        text-align: center;
      }
    }
  }
}
