@font-face {
  font-family: "QuincyCF-Regular";
  src: url("/src/assets/fonts/quincy-cf/quincy-cf.eot");
  src: url("/src/assets/fonts/quincy-cf/quincy-cf.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/fonts/quincy-cf/quincy-cf.woff2") format("woff2"),
    url("/src/assets/fonts/quincy-cf/quincy-cf.woff") format("woff"),
    url("/src/assets/fonts/quincy-cf/quincy-cf.ttf") format("truetype"),
    url("/src/assets/fonts/quincy-cf/quincy-cf.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuincyCF-Text";
  src: url("/src/assets/fonts/quincy-cf-text/quincy-cf-text.eot");
  src: url("/src/assets/fonts/quincy-cf-text/quincy-cf-text.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/fonts/quincy-cf-text/quincy-cf-text.woff2") format("woff2"),
    url("/src/assets/fonts/quincy-cf-text/quincy-cf-text.woff") format("woff"),
    url("/src/assets/fonts/quincy-cf-text/quincy-cf-text.ttf")
      format("truetype"),
    url("/src/assets/fonts/quincy-cf-text/quincy-cf-text.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segment-Regular";
  src: url("/src/assets/fonts/segment-regular/segment-regular.eot");
  src: url("/src/assets/fonts/segment-regular/segment-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/src/assets/fonts/segment-regular/segment-regular.woff2")
      format("woff2"),
    url("/src/assets/fonts/segment-regular/segment-regular.woff") format("woff"),
    url("/src/assets/fonts/segment-regular/segment-regular.ttf")
      format("truetype"),
    url("/src/assets/fonts/segment-regular/segment-regular.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
