$hunter-green: #002522 !default;
$trophy-gold: #D08E39 !default;
$trophy-gold-120: #B6792B !default;
$trophy-gold-40: #ECD2B0 !default;
$text-light: #FAF8F1 !default;
$text-green: #99A8A7 !default;
$hunter-green: #002522 !default;