@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';
@import '/src/assets/styles/fonts';

@mixin font-quincy-cf {
    font-family: QuincyCF-Regular;
}

@mixin font-quincy-cf-text {
    font-family: QuincyCF-Text;
}

@mixin font-segment-regular {
    font-family: Segment-Regular;
}

.action-btn {
    @include font-quincy-cf();
    @include font-look(18px, 18.45px);

    background-color: $trophy-gold;
    border: none;
    border-radius: 24px;

    &:hover {
        background-color: $trophy-gold-120;
    }

    &:active {
        background-color: $trophy-gold-40;
    }
}