@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

@mixin font-quincy-cf {
    font-family: QuincyCF-Regular;
}

@mixin font-quincy-cf-text {
    font-family: QuincyCF-Text;
}

@mixin font-segment-regular {
    font-family: Segment-Regular;
}

.action-btn {
    @include font-quincy-cf();
    @include font-look(18px, 18.45px);

    background-color: $trophy-gold;
    border: none;
    border-radius: 24px;

    &:hover {
        background-color: $trophy-gold-120;
        cursor: pointer;
    }

    &:active {
        background-color: $trophy-gold-40;
    }
}

@mixin hovered-icon($h, $w, $path_normal, $path_hover, $path_click, $path_upper_hover, $path_upper_active, $isUpper: true) {
    position: relative;
    height: $h;
    width: $w;

    @include background-image($path_normal);

    &:hover {
        @include background-image($path_hover);
        cursor: pointer;

        @if $isUpper {
            &::before {
                content: '';
                width: 21px;
                height: 21px;
                position: absolute;
                top: -20px;
                right: -20px;
                background-image: url($path_upper_hover);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &:active {
        @include background-image($path_click);

        @if $isUpper {
            &::before {
                content: '';
                width: 21px;
                height: 21px;
                position: absolute;
                top: -20px;
                right: -20px;
                background-image: url($path_upper_active);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}



